body {
    background-color: #F7EFE5;

}


hr {

    background-color: (0,225,255);
    border-style: dotted;
    border-color: #808080;
    border-width: 5px;
    border-bottom-style: none;
    height: 0px;
    width: 20%;
}

h1{
    color:#674188;
}

h3{
    color:#674188;
}